:root {
    --light-primary-color: #e0f1fd;
    --primary-color: #75C2F6;
    --secondary-color: #1D5D9B;
    --dark-color: #01284f;
    --danger-color: #FF0505;
    --primary-font-color: #262929;
    --secondary-font-color: #fff;
}

@font-face {
    font-family: 'comic_reliefregular';
    src: url('./fonts/web\ fonts/comicrelief_regular_macroman/ComicRelief-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: 'comic_reliefregular';
}

#container {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(400px, 4fr);
    grid-template-rows: minmax(20px, 1fr) minmax(250px, 8fr) minmax(20px, 1fr);
    height: 100vh;
}

#header {
    grid-column: 1/3;
    grid-row-start: 1;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
}

#sidebar {
    background-color: var(--light-primary-color);
    overflow-y: scroll;
}

form#add-project-form {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 8px;
    padding: 8px;
}

form#add-project-form button {
    font-size: .8rem;
}


form button {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
}

#projects {
    list-style: none;
    display: grid;
    gap: 20px;
    font-size: 1.3rem;
    padding: 20px;
}

#projects li {
    box-shadow: 1px 1px 10px var(--secondary-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: var(--primary-color);    
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px var(--secondary-color);
}

#projects li:hover {
    background-color: var(--secondary-color);
}

#projects li:active {
    background-color: var(--dark-color);
}

#main-content {
    padding: 20px;
    color: #000000;
    overflow-y: scroll;
}

form#add-task-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
}

form#add-task-form select,
form#add-task-form input {
    width: 70%;
    height: 30px;
    font-size: 1rem;
}

form#add-task-form *:nth-child(4) {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 100px 1fr;
}

#description {
    width: 80%;
    height: 50px;
}

form#add-task-form button {
    width: 100px;
    height: 30px;
}

#footer {
    grid-column: 1/3;
    background-color: var(--secondary-color);
    color: var(--secondary-font-color);
    display: grid;
    justify-items: center;
}

#footer div {
    align-self: end;
}

#footer a {
    color: var(--primary-color);
}

#tasks-display {
    display: grid;
    justify-content: center;
    gap: 20px;
}

.task {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    border-radius: 20px;
    padding: 10px;
    width: 675px;
    font-size: 1.2rem;
    box-shadow: 1px 1px 10px var(--secondary-color);
}

.task *:not(.task-description) {
    text-align: center;
}

.task-description {
    width: 100%;
    border-top: 3px solid var(--secondary-color);
    grid-column: 1/4;
}

.delete-button {
    background-color: var(--danger-color);
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
}

.complete-button {
    margin-top: 10px;
}

button {
    font-family: 'comic_reliefregular';
    border-radius: 4px;
    height: 40px;
    border-width: 1px;
    font-size: .9rem;
}

.github-icon {
    height: 25px;
    width: auto;
    align-self: start;
}