h1 {
    color:red;
}

#container {
    display: grid;
    grid-template-columns: minmax(150px, 1fr) minmax(400px, 4fr);
    grid-template-rows: minmax(50px, 2fr) minmax(250px, 8fr) minmax(20px, 1fr);
    height: 100vh;
}

#header {
    grid-column: 1/3;
    grid-row-start: 1;
    background-color: blue;
}

#sidebar {
    background-color: red;
}

#main-content {
    background-color: yellow;
}

#footer {
    grid-column: 1/3;
    background-color: green;
}